
*{
  margin: 0;
  padding: 0;
}
.App {
  /* display: flex; */
  /* flex-direction:column;
  align-items: stretch; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 5px 8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-content{
  display: flex;
  flex-direction:row;
  align-items: stretch;
}

.layout-sidebar{
  /* width: 20%; */
  flex:2;
  background: #333;
  color: #61dafb;
  padding: 5px 10px;
  
}

.layout-main{
  flex:8;
  padding: 5px 8px;
}

.study-list{
  padding-left:20px; 
}